@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

main {
    background: url('polaroid.png') no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 40px;
    line-height: 2em;
}

.details ul li.wifi {
    background: url('wifi-solid.svg') no-repeat center left;
    background-size: 1.5em
}

.details ul li.cloud {
    background: url('cloud-arrow-up-solid.svg') no-repeat center left;
    background-size: 1.5em
}

.details ul li.qr {
    background: url('qrcode-solid.svg') no-repeat center left;
    background-size: 1.5em
}

.details ul li.photo {
    background: url('photo-film-solid.svg') no-repeat center left;
    background-size: 1.5em
}

h3 {
    text-align: center;
    font-size: 3em;
    margin: 60px 0 30px 0;
}

p {
    line-height: 1.5em;
}

.details {
    margin: 0 auto;
    width: 700px;
}

form {
    background: linear-gradient(#E2E2E2,#D6D7D6);
    margin: 0 auto 100px;
    width: 700px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

form input[type="text"] {
    background: #ECECEC;
    border: none;
    width: 400px;
    height: 50px;
    padding: 0 16px;
}

form input[type="text"]::placeholder {
    color: var(--primary-text-color);
}

form input[type="button"] {
    background: var(--accent-color);
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    width: 200px;
    height: 50px;
}